<div>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    My Week
  </h3>

  <div class="pt-4">
    <%= render partial: 'authenticated/user_accounts/week' %>
  </div>
</div>

<div class="pt-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Workplaces
  </h3>

  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
    <% @workplaces.each do |workplace| %>
      <div class="relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden">
        <dt>
          <div class="absolute bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: outline/users -->
            <%= svg('office', classes: "h-6 w-6 text-white") %>
          </div>
          <p class="ml-16 text-sm font-medium text-gray-500 truncate"><%= workplace.name %></p>
        </dt>
        <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
          <p class="text-2xl font-semibold text-gray-900">
            <%= workplace.user_accounts.size %>
          </p>
          <div class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm">
              <%= link_to 'View', calendar_workplace_path(workplace), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          </div>
        </dd>
      </div>
    <% end %>
  </dl>
</div>
