<div>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    My Week
  </h3>

  <div class="flex flex-col">
    <div class="sm:-mx-6 lg:-mx-8">
      <div class="py-4 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 text-center">
            <thead class="bg-gray-50">
              <tr>
                <% @week.each do |day| %>
                  <th scope="col" class="text-center px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    <% is_today = Date.today == day %>

                    <div class="<%= is_today ? 'text-blue-500' : '' %>"><%= day.strftime('%A') %></div>
                    <div class="mx-3 text-lg rounded-full <%= is_today ? 'bg-blue-500 text-white' : '' %>"><%= day.strftime('%d') %></div>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white">
                <% @week.each do |day| %>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <%= render partial: 'authenticated/user_accounts/location_selector', locals: { day: day } %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Workplaces
  </h3>

  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
    <% @workplaces.each do |workplace| %>
      <div class="relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden">
        <dt>
          <div class="absolute bg-indigo-500 rounded-md p-3">
            <!-- Heroicon name: outline/users -->
            <%= svg('office', classes: "h-6 w-6 text-white") %>
          </div>
          <p class="ml-16 text-sm font-medium text-gray-500 truncate"><%= workplace.name %></p>
        </dt>
        <dd class="ml-16 pb-6 flex items-baseline sm:pb-7">
          <p class="text-2xl font-semibold text-gray-900">
            <%= workplace.user_accounts.size %>
          </p>
          <div class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6">
            <div class="text-sm">
              <%= link_to 'View', calendar_workplace_path(workplace), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          </div>
        </dd>
      </div>
    <% end %>
  </dl>
</div>
