<% if @users %>
  <%= turbo_stream.replace :users do %>
    <%= turbo_frame_tag :users, src: users_path %>
  <% end %>

  <%= turbo_stream.replace :panel do %>
    <%= render layout: 'shared/panel', locals: { hidden: @hidden } do %>
      <%= form_for(@user, url: { action: 'invite' }, method: :post) do |f| %>
        <div>
          <%= f.label :email, 'Email address', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
          </div>
          <% if @user.errors[:email]&.any? %>
            <p class="text-red-600 text-xs mt-1"><%= "Email #{@user.errors[:email].join(', ')}" %></p>
          <% end %>
        </div>

        <div class="mt-3 flex">
          <div class="mr-2 w-full">
            <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :first_name, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
            </div>
            <% if @user.errors[:first_name]&.any? %>
              <p class="text-red-600 text-xs mt-1"><%= "First Name #{@user.errors[:first_name].join(', ')}" %></p>
            <% end %>
          </div>

          <div class="ml-2 w-full">
            <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :last_name, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
            </div>
            <% if @user.errors[:last_name]&.any? %>
              <p class="text-red-600 text-xs mt-1"><%= "Last Name #{@user.errors[:last_name].join(', ')}" %></p>
            <% end %>
          </div>
        </div>

        <div class="mt-3 flex justify-end">
          <%= f.submit "Invite", class: "cursor-pointer py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= turbo_stream.append :notification do %>
    <%= render partial: 'shared/notification', locals: { heading: 'User invited', description: 'They will receive an email shortly' } %>
  <% end %>
<% else %>

  <%= turbo_stream.replace :panel do %>
    <%= render layout: 'shared/panel', locals: { hidden: @hidden } do %>
      <%= form_for(@user, url: { action: 'invite' }, method: :post) do |f| %>
        <div>
          <%= f.label :email, 'Email address', class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
          </div>
          <% if @user.errors[:email]&.any? %>
            <p class="text-red-600 text-xs mt-1"><%= "Email #{@user.errors[:email].join(', ')}" %></p>
          <% end %>
        </div>

        <div class="mt-3 flex">
          <div class="mr-2 w-full">
            <%= f.label :first_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :first_name, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
            </div>
            <% if @user.errors[:first_name]&.any? %>
              <p class="text-red-600 text-xs mt-1"><%= "First Name #{@user.errors[:first_name].join(', ')}" %></p>
            <% end %>
          </div>

          <div class="ml-2 w-full">
            <%= f.label :last_name, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :last_name, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
            </div>
            <% if @user.errors[:last_name]&.any? %>
              <p class="text-red-600 text-xs mt-1"><%= "Last Name #{@user.errors[:last_name].join(', ')}" %></p>
            <% end %>
          </div>
        </div>

        <div class="mt-3 flex justify-end">
          <%= f.submit "Invite", class: "cursor-pointer py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>