<% if @user_account.persisted? %>
  <%= turbo_stream.update :panel_container do %>
    <div></div>
  <% end %>

  <%= turbo_stream.replace :users do %>
    <%= turbo_frame_tag :users, src: user_accounts_path %>
  <% end %>

  <%= turbo_stream.append :notification do %>
    <%= render partial: 'shared/notification', locals: { heading: 'User invited', description: 'They will receive an email shortly' } %>
  <% end %>

<% else %>

  <%= turbo_stream.update :panel_container do %>
    <%= render layout: 'shared/panel', locals: { title: 'Invite User' } do %>
      <% render partial: 'users/invite_form' %>
    <% end %>
  <% end %>

<% end %>